<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tripAppPartA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9C07CCFA1EA9D97F009F3354</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C07CD0E1EA9D980009F3354</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C07CD191EA9D980009F3354</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
